<mat-card class="section card">
  <img src="../../../assets/images/logo_black_header.png" class="logo">
  <mat-card-header>
    <mat-card-title>Franks Food Corner</mat-card-title>
    <mat-card-subtitle>Fine American Food</mat-card-subtitle>
  </mat-card-header>
  <div class="ranking">
    <mat-icon fontIcon="star"></mat-icon>
    <mat-icon fontIcon="star"></mat-icon>
    <mat-icon fontIcon="star"></mat-icon>
    <mat-icon fontIcon="star"></mat-icon>
    <mat-icon fontIcon="star"></mat-icon>
    <span>813 Bewertungen</span>
  </div>
  <mat-card-content>
    <div class="delivery">
      <mat-icon fontIcon="shopping_basket"></mat-icon><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quam,
        quisquam!</span>
    </div>
    <p>Dieses Restaurant bietet authentisches amerikanisches Essen in gemütlicher Atmosphäre. Geniesse klassische
      amerikanische Gerichte wie Burger, Hot Dogs und BBQ-Rippchen. Jetzt auch bei Dir zu Hause!</p>
  </mat-card-content>
  <mat-card-actions class="menuCategory">
    <!-- <div id="menuCategory" class="menuCategory"> -->
    <div class="menuCategoryCenter">
      <a href="#starters">Starters</a>
      <a href="#hotdogs">HotDogs</a>
      <a href="#burger">Burger</a>
      <a href="#sides">Beilagen</a>
      <a href="#drinks">Drinks</a>
    </div>
    <!-- </div> -->
  </mat-card-actions>
</mat-card>